{% extends "base.html" %}

{% block title %}{{ section.title }}{% endblock %}

{% block main %}
    {% if section.content %}
        <section class="md">
            {{- section.content | safe -}}

            {% for fonts in section.subsections | sort %}
                {% set font = get_section(path=fonts) %}
                <h3>{{ font.title }} family</h3>
                {% set count = font.pages | length %}
                <p>{{ count }} {{ font.title }} font{{ count | pluralize }} available.</p>
                <ul>
                    {% for type in font.pages %}
                        <li><a href="/{{ type.path }}">{{ type.title }}</a></li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </section>
    {% endif %}
{% endblock %}
