{% extends "base.html" %}

{% block title %}{{ section.title }}{% endblock %}

{% block main %}
    {% if section.content %}
        <section class="md">
            {{- section.content | safe -}}
            <h2>Font list</h2>
            <p>Fonts with WIP documentation.
                All <a href="https://github.com/vednoc/fonts/tree/main/static/to">available
                fonts</a>.
            </p>
            {% for type, fonts in section.pages | group_by(attribute="extra.type") %}
                <h3>{{ type | title }} typeface</h3>

                {% set count = fonts | length %}
                <span>{{ count }} {{ type | title }} font{{ count | pluralize }} available.</span>

                <ul>
                    {% for font in fonts %}
                        <li>
                            <a href="{{ '/docs/' ~ font.slug ~ '/' }}">
                                {{- font.title -}}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </section>
    {% endif %}
{% endblock %}
