{% extends "base.html" %}

{% block title %}{{ section.title }}{% endblock %}

{% block main %}
    {% if section.content %}
        <section class="md">
            {{- section.content | safe -}}
            <h2>Font list</h2>
            <p>Fonts with WIP documentation.
                All <a href="https://github.com/vednoc/fonts/tree/main/static/to">available
                fonts</a>.
            </p>
            <ul>
                {% for page in section.pages %}
                    <li>
                        <a href="{{ '/docs/' ~ page.slug ~ '/' }}">
                            {{- page.title -}}
                        </a> —
                        <span>{{ page.extra.type | capitalize }} typeface</span>
                    </li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}
{% endblock %}
