@font-face {
    font-family: 'Fira Code';
    src: url('/src/fira-code/FiraCode-Regular.woff2') format('woff2'),
         url('/src/fira-code/FiraCode-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Code';
    src: url('/src/fira-code/FiraCode-Bold.woff2') format('woff2'),
         url('/src/fira-code/FiraCode-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
