:root {
    box-sizing: border-box;
    font-size: 100%;

    --bg-1: #111111;
    --bg-2: #1c1c1c;
    --bg-3: #333333;
    --bg-4: #444444;
    --bg-5: #555555;
    --fg-1: #cccccc;
    --fg-2: #aaaaaa;
    --fg-3: #999999;
    --fg-4: #888888;
    --fg-5: #777777;
    --ac-0: #1dc24e;
}

* { box-shadow: inherit }

:not(select) { scrollbar-color: var(--bg-4) var(--bg-2) }

body {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.2rem;
    font-family: 'Latin Modern', 'Georgia', serif;
    color: var(--fg-1);
    background-color: var(--bg-1);
}

main {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 40rem;
}

a:link { color: var(--ac-0) }

a:hover { text-decoration: wavy underline }

a:not([href^='/'])::after {
    content: '';
    width: 0.8rem;
    height: 0.8rem;
    margin-left: 0.2rem;
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='gray' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-external-link'%3E%3Cpath d='M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6 '%3E%3C/path%3E%3Cpolyline points='15 3 21 3 21 9'%3E%3C/polyline%3E%3Cline x1='10' y1='14' x2='21' y2='3'%3E%3C/line%3E%3C/svg%3E%0A");
    background-size: 0.8rem;
}

h1 { font-size: 2.5rem }

h3 { margin-top: 4rem }

h3 ~ *:not(h3):not(hr) { margin: 1rem }

pre {
    overflow-x: auto;
    padding: 1.5rem 1rem;
    background-color: var(--bg-2) !important;
    border-radius: 0.5rem;
}

code {
    color: var(--fg-1);
    font-size: 0.75rem;
    font-family: 'Monoid', monospace;
}

:not(pre) > code { color: var(--ac-0) }

:not(pre) > code::before,
:not(pre) > code::after {
    content: '`';
    color: var(--fg-5);
    font-weight: bold;
}

hr {
    margin-top: 4rem;
    text-align: center;
    font-size: 2rem;
    color: var(--fg-3);
    border: none;
}

hr::before { content: '\EB40' }

hr::after {
    content: '\EB40';
    transform: translateX(-2.5rem) translateY(-0.35rem) rotate(-25deg);
    transform-origin: center;
    position: absolute;
    opacity: 0.4;
}
