html { box-sizing: border-box }

* { box-shadow: inherit }

:not(select) { scrollbar-color: #333 #222 }

body {
    margin: 4rem 0;
    color: #bbb;
    background-color: #111;
    font-size: 125%;
    line-height: 1.6;
    font-family: 'Latin Modern', 'Georgia', serif;
}

main {
    margin: 0 auto;
    padding: 0 1em;
    max-width: 40rem;
}

a:link { color: #1dc24e }

h1 { font-size: 2em }

h3 { margin-top: 3em }

pre {
    padding: 2em 1em;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
}

pre code { margin: 2em 0 }

code {
    color: #1dc24e;
    font-size: 0.6em;
    font-family: 'Monoid', monospace;
}

:not(pre) > code::before,
:not(pre) > code::after {
    content: '`';
    color: #666;
}
