:root {
    box-sizing: border-box;
    font-size: 100%;

    --bg-1: #111111;
    --bg-2: #1c1c1c;
    --bg-3: #333333;
    --bg-4: #444444;
    --bg-5: #555555;
    --fg-1: #cccccc;
    --fg-2: #aaaaaa;
    --fg-3: #999999;
    --fg-4: #888888;
    --fg-5: #777777;
    --ac-0: #1dc24e;

}

@media (prefers-color-scheme: light) {
    :root {
        --bg-1: #eeeeee;
        --bg-2: #dddddd;
        --bg-3: #cccccc;
        --bg-4: #bbbbbb;
        --bg-5: #aaaaaa;
        --fg-1: #111111;
        --fg-2: #222222;
        --fg-3: #333333;
        --fg-4: #444444;
        --fg-5: #555555;
        --ac-0: #0b6025;
    }
}

* { box-shadow: inherit }

:not(select) { scrollbar-color: var(--bg-4) var(--bg-2) }

body {
    margin: 0;
    line-height: 1.5;
    font-size: 1.2rem;
    font-family: 'Latin Modern', 'Georgia', serif;
    color: var(--fg-1);
    background-color: var(--bg-1);
}

main {
    margin: 4rem auto;
    padding: 0 1rem;
    max-width: 40rem;
}

nav {
    margin: 0 auto;
    padding: 1rem 1rem;
    max-width: 40rem;
}

a:link { color: var(--ac-0) }

a:hover { text-decoration: wavy underline }

a:not([href^='/']):not([href^='#'])::after {
    content: '';
    width: 0.8rem;
    height: 0.8rem;
    margin-left: 0.2rem;
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='gray' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-external-link'%3E%3Cpath d='M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6 '%3E%3C/path%3E%3Cpolyline points='15 3 21 3 21 9'%3E%3C/polyline%3E%3Cline x1='10' y1='14' x2='21' y2='3'%3E%3C/line%3E%3C/svg%3E%0A");
    background-size: 0.8rem;
}

h1 { font-size: 2.5rem }

h2 { margin-top: 4rem !important }
h3 { margin-top: 2rem !important }

h2 ~ *:not(h2):not(hr) { margin: 1rem }
h2 ~ h2 { margin-left: 0rem !important }

h2 ~ h3 ~ *:not(h3):not(hr) { margin: 1rem 2rem }
h2 ~ p, h2 + p:not(h3), h2 + p:not(h3) + p { margin: 1rem !important }
h3 ~ p { margin: 1rem 2rem !important }

pre {
    overflow-x: auto;
    padding: 1.5rem 1rem;
    background-color: var(--bg-2) !important;
    border-radius: 0.5rem;
}

code {
    color: var(--fg-1);
    font-size: 0.75rem;
    font-family: 'Monoid', monospace;
    font-feature-settings: 'ss01' 1, 'ss07' 1, 'ss08' 1, 'ss09' 1, 'ss10' 1, 'ss11' 1, 'ss15' 1;
}

:not(pre) > code { color: var(--ac-0) }

:not(pre) > code::before,
:not(pre) > code::after {
    content: '`';
    color: var(--fg-5);
    font-weight: bold;
}

hr {
    margin: 4rem 0;
    text-align: center;
    font-size: 2rem;
    color: var(--fg-3);
    border: none;
    border-bottom: 1px solid var(--bg-3);;
}

hr:last-child {
    border: none;
}

hr:last-child::before {
    content: '\221E';
    color: var(--fg-5);
}
