<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}{% endblock %} — {{ config.title }}</title>
        <meta name="description" content="An open-source fonts CDN powered by Vercel.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/to/latin-modern.css" type="text/css"/>
        <link rel="stylesheet" href="/to/monoid.css" type="text/css"/>
        <link rel="stylesheet" href="/main.css">
    </head>
    <body>
        <main>{%- block main %}{% endblock -%}</main>

        {% if config.extra.debug %}
            <style type="text/css" media="screen">
                body > details { margin: 0 auto 4rem; max-width: 60rem }
                body > details > pre { margin: 0 2rem; line-height: 1 }
                body > details > summary { margin: 0 2rem 2rem }
            </style>
            <details>
                <summary>Show Tera context.</summary>
                <pre><code>{{ __tera_context | striptags }}</code></pre>
            </details>
        {% endif %}
    </body>
</html>
