{% import "macros.html" as m %}

<!doctype html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %} — {{ config.title }}</title>
        {{ m :: meta() }}
    </head>
    <body>
        <nav>
            {% if current_path is defined and current_path == "/" %}
                <a href="/docs">Documentation</a>
            {% elif current_path is defined and not current_path == "/" %}
                <a href="/">Home</a>
                {% if current_path is matching("^docs/[[:alpha:]]") %}
                    <a href="/docs">Documentation</a>
                {% endif %}
            {% else %}
                <a href="/">Home</a>
                <a href="/docs">Documentation</a>
            {% endif %}
        </nav>
        <main>{%- block main %}{% endblock -%}</main>
        <hr />
        {% if config.extra.debug %}
            <style type="text/css" media="screen">
                body > details { margin: 0 auto 4rem; max-width: 60rem }
                body > details > pre { margin: 0 2rem; line-height: 1 }
                body > details > summary { margin: 0 2rem 2rem }
            </style>
            <details>
                <summary>Show Tera context.</summary>
                <pre><code>{{ __tera_context | striptags }}</code></pre>
            </details>
        {% endif %}
    </body>
</html>
